name: schedule
on:
  push:
    branches:
      - schedule
      - main
  schedule:
    - cron: '*/5 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Run script
        run: node app.js

      - name: Commit fixtures
        run: |
          git config user.email "abdelhamidzdh@gmail.com"
          git add fixtures.json
          git commit -m "Update fixtures"
          git push
