name: schedule

on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/5 * * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Run script
        run: node app.js

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add fixtures.json
          git commit -m "Update fixtures" || echo "No changes"
          git push
